body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.box {
    margin: 10px;
}

input, select {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px;
    margin: 5px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.analytics-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    max-width: 500px;
    margin: 20px auto;
}

